.product-item-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 250px;
  padding: 0.6rem 0.5rem;
  background: #f2f2f2;
  //   justify-content: center;
  border-radius: 0.4rem;
  //   align-items: center;
  position: relative;
  .img-cont {
    margin-top: 0.6rem;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      height: 100%;
      width: 90%;
    }
  }
  .sample {
    margin: 1rem 0.8rem;
    .catagory {
      font-size: 0.9rem;
      color: #8b6238;
    }
    .title {
      font-size: 1rem;
      font-weight: bold;
      color: #333;
    }
    .price {
      font-size: 0.9rem;
      margin-top: 0.3rem;
      font-weight: bold;
      color: #696969;
    }
  }

  .abs-btns {
    position: absolute;
    top: 3px;
    right: 1%;
    transition: all 0.3s ease;
    .heart,
    .details {
      cursor: pointer;
    }
  }
}
