// breakpoints for different viewport devices
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

.cartItem-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: auto;
  width: 100%;
  // position: relative;
  .product-list {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    tr {
      width: 55vw;
      display: flex;
      justify-content: space-between;

      @media #{$media-tablet} {
        width: 75vw;
      }
    }
    .product-image {
      height: 50px;
      width: 80px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 0.2rem;
      }
      .brand-name {
        font-size: 0.8rem;
        color: gray;
        font-weight: bold;
      }
    }
    .price {
      margin-left: -1rem;
      color: #333;
      font-weight: bold;
    }
    .subtotal {
      color: #333;
      font-weight: bold;

      @media #{$media-mobile-sm} {
        display: none;
      }
    }
    .remove {
      button {
        border: none;
        outline: none;
        background-color: transparent;
        border-radius: 0.2rem;
        .deleteIcon {
          font-size: 2rem;
          cursor: pointer;
          &:hover {
            background: #835629;
            color: white;
            border-radius: 0.2rem;
          }
        }
      }

      @media #{$media-mobile-sm} {
        margin-left: -2rem;
      }
    }
  }
  .select-item {
    border: 1px solid gray;
    padding: 0.3rem 0.4rem;
    border-radius: 0.2rem;
    // margin-right: 2rem;
    button {
      border: none;
      outline: none;
      background: none;
      font-size: 1.3rem;
      margin: 0rem 1rem;
      cursor: pointer;
      color: #333;
    }
    span {
      font-size: 1rem;
      color: gray;
    }
  }

  .dialog-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    height: 150px;
    width: 35%;
    top: 40%;
    left: 40%;
    background: #fff;
    z-index: 999;
    border-radius: 0.3rem;
    border: 1px solid #835629;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    // padding: 16px;
    .title {
      float: left;
      font-size: 1.2rem;
      margin-top: 0.3rem;
      color: rgb(93, 93, 93);
      font-weight: bold;
    }
    .sub-title {
      margin-top: 0.6rem;
      font-size: 0.8rem;
      color: #333;
      font-weight: bold;
    }
    .btns {
      margin-top: 1.5rem;
      display: flex;
      justify-content: flex-end;
      margin-right: 0.3rem;
      .btn {
        height: 34px;
        padding: 0.2rem 1rem;
        cursor: pointer;
        margin: 0rem 0.3rem;
        outline: none;
        border: 1px solid #835629;
        border-radius: 0.2rem;
        color: white;
        font-weight: bold;
      }
      .btn-one {
        background-color: #fff;
        color: #333;

        &:hover {
          background-color: rgb(224, 224, 224);
        }
      }
      .btn-two {
        background-color: #835629;
        color: #fff;

        &:hover {
          background-color: #74491d;
        }
      }
    }

    @media #{$media-mobile-sm} {
      left: 0%;
      width: 80vw;
    }
  }

  @media #{$media-tablet} {
    padding: 1rem 0rem;
  }
}
