.products-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // z-index: -1;
  // position: relative;

  .page-title {
    margin-top: 1rem;
    font-size: 1.3rem;
    color: #333;
  }

  .pagination-container {
    height: 42px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    text-align: center;
    .backward-icon,
    .forward-icon {
      font-size: 2rem;
      color: gray;
      align-items: center;
      text-align: center;
    }
    .num-pages {
      display: flex;
      span {
        margin: 0rem 0.7rem;
        button {
          padding: 0.2rem 0.5rem;
          cursor: pointer;
          outline: none;
          border: none;
          border-radius: 0.2rem;
        }
      }
      .span-active {
        background: #333;
        color: white;
      }
    }
  }
}
