// breakpoints for different viewport devices
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

.nav-container {
  width: 100%;
  height: 100px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;

  .nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    .nav-logo {
      margin-left: 0rem;
      a {
        text-decoration: none;
        font-size: 1.7rem;
        color: #8f653a;
        font-weight: bold;
      }
      @media #{$media-desktop} {
        margin-left: 2.6rem;
      }
    }

    .list-items {
      display: block;
      //   position: relative;
      li {
        display: inline-block;

        a {
          font-size: 0.9rem;
          font-weight: bold;
          text-decoration: none;
          color: #333;
          padding: 0rem 0.5rem;
          &:hover {
            color: #daa520;
            transition: all 0.2s ease;
          }
        }
      }
      @media #{$media-desktop} {
        display: none;
      }
    }

    .three-line {
      position: absolute;
      top: 2.2rem;
      left: 1.5%;
      display: none;
      font-size: 1.7rem;
      color: #333;
      .three-line-icon {
        cursor: pointer;
      }
      @media #{$media-desktop} {
        display: block;
      }
    }
  }
  .nav-right {
    .list-items-show {
      position: fixed;
      height: 100vh;
      width: 40%;
      top: 0%;
      left: 0%;
      background-color: #daa520;
      transition: all 0.3s ease;
      z-index: 999;

      .title-cont {
        display: flex;
        // justify-content: ;
        position: relative;
        color: white;
        margin: 2rem 1rem;
        h1 {
          color: white;
          font-weight: bold;
        }
        .cancle-btn {
          position: absolute;
          padding: 0.2rem 0.5rem;
          top: 10%;
          right: 2%;
          font-size: 1.2rem;
          border: 1px solid #8f653a;
          border-radius: 0.3rem;
          .cancle-icons {
            cursor: pointer;
          }
        }
      }

      li {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin: 2rem 0rem;

        a {
          font-size: 1rem;
          font-weight: bold;
          text-decoration: none;
          color: #fff;

          &:hover {
            color: blueviolet;
            transition: all 0.3s ease;
          }
        }
      }

      @media #{$media-mobile} {
        display: block;
        width: 100%;
      }
    }
    .list-items-hide {
      position: absolute;
      height: 100%;
      width: 40%;
      top: 15%;
      left: -40%;
      background-color: #daa520;
      transition: all 0.3s ease;
    }

    // styling right registration container
    .right-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .search {
        display: flex;
        align-items: center;
        height: 44px;
        width: auto;
        padding: 0rem 0.5rem;
        background-color: #eeeeee;
        border-radius: 0.3rem;
        input {
          height: 100%;
          width: 100%;
          background-color: transparent;
          border: none;
          outline: none;
        }
        span {
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          cursor: pointer;
          color: #8f653a;
          border-left: 1px solid #8f653a;
        }
      }
      .icons-container {
        display: flex;
        .icons {
          padding: 0rem 0.5rem;
          font-size: 1.6rem;
          color: #333;
          a {
            text-decoration: none;
            color: rgb(30, 30, 30);

            .icon {
              &:hover {
                color: #8f653a;
                transition: all 0.3s ease;
              }
            }
          }
          .cart-icon {
            a {
              position: relative;
              .abs-cart-count {
                position: absolute;
              }
            }
          }
        }
      }
    }
  }
}
